.DS_Store
ProjetoCG/.vs/ProjectSettings.json
ProjetoCG/.vs/ProjetoCG/v15/.suo
ProjetoCG/.vs/ProjetoCG/v15/ipch/AutoPCH/81a9491c88a0f22e/MAIN.ipch
ProjetoCG/.vs/ProjetoCG/v15/Browse.VC.db
ProjetoCG/.vs/slnx.sqlite
ProjetoCG/.vs/VSWorkspaceState.json
.idea/
engine/.idea/
generator/.idea/
engine/cmake-build-debug/
generator/cmake-build-debug/
engine/CMakeLists.txt
